@import "tailwindcss";
/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;

@font-face {
  font-family: FS Neruda;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/446c481.woff2) format("woff2"),
    url(../assets/fonts/810905b.woff) format("woff");
}

@font-face {
  font-family: FS Neruda;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/19ca471.woff2) format("woff2"),
    url(../assets/fonts/92d5638.woff) format("woff");
}

@theme {
  --color-primary-500: #7aac57;
  --color-secondary-500: #40403a;
  --color-secondary-100: #7e7e72;
  --color-white: #ffffff;
  --color-blue-500: #5a90f1;
  --color-brown-500: #342e2b;
  --color-background: #fcf9f7;
  --color-light-dark: #40403a;
  --bg-light-dark: #40403a;
  --light-grey: #eae6e6;
  --dark-black: #342e2b;
  --green-main: #7bac58;
  --green-hover: #896c49;
  --font-Montserrat: "Montserrat", sans-serif;
  --font-Playfair: "Playfair Display", serif;
  --font-Neruda: "FS Neruda";
  --breakpoint-3xl: 160rem;
}
/* --calculatedResponsiveFontSize: clamp(16px, 1.102vw, 24px); */
/* 
.resp {
  --calculatedResponsiveFontSize: clamp(16px, 1.102vw, 24px);
} */

body {
  @apply overflow-x-hidden;
}
html {
  @apply overflow-x-hidden;
}

.app-container {
  @apply container max-w-[1786px] mx-auto w-full;
}
.navbar {
  @apply font-Montserrat text-[var(--color-secondary-500)] py-7 fixed top-0 left-0 w-full z-50  transition-all duration-500;
}

/* Moves navbar out of view */
.move-up {
  @apply -translate-y-full opacity-0;
}

/* Navbar returns with solid background */
.scrolled {
  @apply translate-y-0 opacity-100 bg-[var(--color-background)] shadow-sm py-1 2xl:h-[100px] xl:h-[70px] h-[70px] justify-between items-center lg:flex hidden;
}

/* Restore original gradient when scrolling to top */
.original {
  @apply bg-gradient-to-b from-[var(--color-background)]/50 to-transparent;
}

/* Nav link hover animation */
.nav-link {
  @apply relative 2xl:text-[18px] xl:text-[14px] text-[13.6px] font-bold uppercase tracking-[2px]  transition-colors duration-300;
}

.nav-link::after {
  content: "";
  @apply absolute left-0 bottom-0 w-full h-[4px] translate-y-2 bg-[var(--color-blue-500)] scale-x-0 origin-left transition-transform duration-300;
}

.nav-link:hover::after {
  @apply scale-x-100;
}

/* Collapsed link with dropdown */
.collapsed-link {
  @apply relative flex items-center gap-2 2xl:text-[18px] xl:text-[14px] text-[13.6px] font-bold uppercase tracking-[2px]  cursor-pointer;
}

.collapsed-link::after {
  content: "▼"; /* Arrow icon */
  @apply 2xl:text-[14px] xl:text-[10px] transition-transform duration-300;
}

.collapsed-link:hover::after {
  @apply rotate-180; /* Rotates arrow when hovered */
}

/* Dropdown menu */
.dropdown-menu {
  @apply absolute left-0 space-y-5 w-[18em] bg-[var(--light-grey)] shadow-md py-2 opacity-0 invisible transition-opacity duration-300;
}

.collapsed-link:hover + .dropdown-menu,
.dropdown-menu:hover {
  @apply opacity-100 visible;
}

.dropdown-menu li {
  @apply px-4 py-2 transition-colors duration-200;
}

.start-btn {
  @apply bg-[var(--bg-light-dark)] hover:bg-[var(--dark-black)];
}

.start-btn-scrolled {
  @apply bg-[var(--green-main)] hover:bg-[var(--green-hover)];
}
/* Shrink logo when scrolled */
.small-logo {
  @apply hidden;
}

.show-small-logo {
  @apply block;
}

.hero-content-shadow {
  box-shadow: -2.5em 3.125em 5.25em rgba(0, 0, 0, 0.1);
}

.expand-icon {
  width: 0.9em;
  height: 0.9em;
  position: relative;
  float: right;
  margin-left: 0.9375em;
  z-index: 2;
}

.expand-icon:after,
.expand-icon:before {
  content: "";
  display: block;
  width: 100%;
  height: 0.125em;
  background: #5a90f1;
  border-radius: 0.375em;
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

.expand-icon:before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.expand-icon:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

/* When expanded, rotate to minus */
.accordion-header.active .expand-icon:before {
  transform: translate(-50%, -50%) rotate(90deg);
}

.accordion-header.active .expand-icon:after {
  transform: translate(-50%, -50%) rotate(180deg);
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
  -moz-transform: translate(-50%, -50%) rotate(180deg);
  -ms-transform: translate(-50%, -50%) rotate(180deg);
  -o-transform: translate(-50%, -50%) rotate(180deg);
}

/* Smooth Accordion Opening */
.accordion-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
  -webkit-transition: max-height 0.3s ease-in-out;
  -moz-transition: max-height 0.3s ease-in-out;
  -ms-transition: max-height 0.3s ease-in-out;
  -o-transition: max-height 0.3s ease-in-out;
}

.custom-active-slide {
  @apply transition-all ease-in-out duration-300 shadow-xl xl:-translate-y-[110px] lg:!-translate-y-[60px] !-translate-y-[60px] !z-20;
}

.item-slide {
  @apply 2xl:!w-[700px] 2xl:!h-[400px] xl:!w-[600px] !bg-transparent xl:!h-[400px] lg:!w-[500px] lg:!h-[300px]  md:!w-[490px] md:!h-[320px] !w-[260px] !h-[170px] transition-all ease-in-out duration-300 ease-in-out;
}

.what_we_do_item_slide {
  @apply 2xl:!h-[850px] xl:!h-[640px] lg:!h-[450px] md:!h-[340px] !h-[270px] w-full object-cover;
}

.client-slide {
  @apply md:!w-[350px] !w-[300px] 2xl:!h-[700px] xl:!h-[300px] lg:!h-[300px] md:!h-[500px] !h-[550px] !flex !flex-col !justify-center gap-8;
}

@keyframes kenBurns {
  0% {
    transform: scale(1) translateX(10%) translateY(-10%);
  }
  100% {
    transform: scale(1.2) translateX(0) translateY(0);
  }
}

.ken-burns {
  animation: kenBurns 10s ease-in-out forwards;
}

.card-content {
  padding: 3.625em 3.625em 2.84375em 5.5em; /* Default (lg and above) */
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Tailwind's md breakpoint */
  .card-content {
    padding: 2.5em 3.75em;
  }
}

@media (min-width: 375px) and (max-width: 760px) {
  /* Fixed min-width */
  .card-content {
    padding: 32px;
  }
}

.decorator-line {
  display: block !important;
  width: 33vw;
  height: 2px; /* Line thickness */
  position: absolute;
  background-color: #5a90f1; /* Blue color */
  z-index: 2;
  pointer-events: none;
  transform: rotate(143deg);
}

/* Ensure it's visible */
.decorator-line[data-animate="true"]:before {
  content: "";
  position: absolute;
  /* top: 10; */
  /* left: 0; */
  /* right: 0; */
  /* bottom: 0; */
  background-color: inherit;
  transform: scaleX(1) !important;
  transition: transform 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
}

/* Fix position inside the container */
.decorator-line {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(143deg);
}


.client_decorator_line {
  width: 33vw;
  font-size: 1rem;
  position: absolute;
  background-color: #7bac58; /* Blue color */
  height: 0.0625em;
  pointer-events: none;
  z-index: 2;
}

.client_decorator_line[data-animate="true"]:before {
  content: "";
  position: absolute;
  background-color: inherit;
  transform: scaleX(1) !important;
  transition: transform 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
}

.client_decorator_line {
  top: 25%;
  right: 6%;
  transform: translate(-50%, -50%) rotate(143deg);
}

.plan_top_decorator_line {
  width: 33vw;
  font-size: 1rem;
  position: absolute;
  height: 0.0625em;
  background-color: #fcf9f7; /* Blue color */
  pointer-events: none;
  z-index: 10;
}

.plan_top_decorator_line[data-animate="true"]:before {
  content: "";
  position: absolute;
  background-color: inherit;
  transform: scaleX(1) !important;
  transition: transform 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
}

.plan_top_decorator_line {
  top: 40%;
  left: 23%;
  transform: translate(-50%, -50%) rotate(-66deg);
  -webkit-transform: translate(-50%, -50%) rotate(-66deg);
  -moz-transform: translate(-50%, -50%) rotate(-66deg);
  -ms-transform: translate(-50%, -50%) rotate(-66deg);
  -o-transform: translate(-50%, -50%) rotate(-66deg);
}

.plan_bottom_decorator-line {
  width: 33vw;
  font-size: 1rem;
  position: absolute;
  height: 0.0625em;
  background-color: #5a90f1; /* Blue color */
  pointer-events: none;
  z-index: 20;
}

.plan_bottom_decorator-line[data-animate="true"]:before {
  content: "";
  position: absolute;
  transform: scaleX(0);
  transform-origin: center center;
  transition: transform 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
  -webkit-transition: transform 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
  -moz-transition: transform 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
  -ms-transition: transform 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
  -o-transition: transform 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
}

.plan_bottom_decorator-line {
  bottom: 24%;
  left: 30%;
  transform: translate(-50%, -50%) rotate(39deg);
  -webkit-transform: translate(-50%, -50%) rotate(39deg);
  -moz-transform: translate(-50%, -50%) rotate(39deg);
  -ms-transform: translate(-50%, -50%) rotate(39deg);
  -o-transform: translate(-50%, -50%) rotate(39deg);
}

.hero-decorator-line {
  @apply w-[33vw] text-[1rem] absolute bg-[#5a90f1] h-[0.0625em] pointer-events-none z-[30] xl:top-[20%] xl:left-[42%] lg:left-[52%] lg:top-[22%] md:left-[45%] md:top-[39%];
}

.hero-decorator-line[data-animate="true"]:before {
  content: "";
  position: absolute;
  /* background-color: inherit; */
  transform: scaleX(1) !important;
  transition: transform 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
}

.hero-decorator-line {
  transform: translate(-50%, -50%) rotate(143deg);
}

.links-nav-color-scroll {
  @apply !text-white;
}
