@import "tailwindcss";
/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;

@font-face {
  font-family: FS Neruda;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/446c481.woff2) format("woff2"),url(../assets/fonts/810905b.woff) format("woff")
}

@font-face {
  font-family: FS Neruda;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../assets/fonts/19ca471.woff2) format("woff2"),url(../assets/fonts/92d5638.woff) format("woff")
}

@theme {
  --color-primary-500: #7aac57;
  --color-secondary-500: #40403a;
  --color-secondary-100: #7e7e72;
  --color-white: #ffffff;
  --color-blue-500: #5a90f1;
  --color-brown-500: #342e2b;
  --color-background: #fcf9f7;
  --color-light-dark: #40403a;
  --bg-light-dark: #40403a;
  --light-grey: #eae6e6;
  --dark-black: #342e2b;
  --green-main: #7bac58;
  --green-hover: #896c49;
  --font-Montserrat: "Montserrat", sans-serif;
  --font-Playfair: "Playfair Display", serif;
  --font-Neruda: "FS Neruda";

}



body {
  @apply overflow-x-hidden
}
/* Default Navbar Styles */
/* .navbar {
  @apply text-[var(--color-secondary-500)] py-6 fixed top-0 left-0 w-full z-50 bg-gradient-to-b from-[var(--color-background)]/50 to-transparent transition-all duration-500;
} */
.navbar {
  @apply text-[var(--color-secondary-500)] py-6 fixed top-0 left-0 w-full z-50  transition-all duration-500;
}

/* Moves navbar out of view */
.move-up {
  @apply -translate-y-full opacity-0;
}

/* Navbar returns with solid background */
.scrolled {
  @apply translate-y-0 opacity-100 bg-[var(--color-background)] shadow-md py-1 flex justify-between items-center;
}

/* Restore original gradient when scrolling to top */
.original {
  @apply bg-gradient-to-b from-[var(--color-background)]/50 to-transparent;
}

/* Nav link hover animation */
.nav-link {
  @apply relative text-[18px] font-bold uppercase tracking-[2px]  transition-colors duration-300;
}

.nav-link::after {
  content: "";
  @apply absolute left-0 bottom-0 w-full h-[4px] translate-y-2 bg-[var(--color-blue-500)] scale-x-0 origin-left transition-transform duration-300;
}

.nav-link:hover::after {
  @apply scale-x-100;
}

/* Collapsed link with dropdown */
.collapsed-link {
  @apply relative flex items-center gap-2 text-[18px] font-bold uppercase tracking-[2px]  cursor-pointer;
}

.collapsed-link::after {
  content: "▼"; /* Arrow icon */
  @apply text-[14px] transition-transform duration-300;
}

.collapsed-link:hover::after {
  @apply rotate-180; /* Rotates arrow when hovered */
}

/* Dropdown menu */
.dropdown-menu {
  @apply absolute left-0 space-y-5 w-[18em] bg-[var(--light-grey)] shadow-md py-2 opacity-0 invisible transition-opacity duration-300;
}

.collapsed-link:hover + .dropdown-menu,
.dropdown-menu:hover {
  @apply opacity-100 visible;
}

.dropdown-menu li {
  @apply px-4 py-2 transition-colors duration-200;
}

.start-btn {
  @apply bg-[var(--bg-light-dark)] hover:bg-[var(--dark-black)];
}

.start-btn-scrolled {
  @apply bg-[var(--green-main)] hover:bg-[var(--green-hover)];
}
/* Shrink logo when scrolled */
.small-logo {
  @apply w-[45px] h-[45px] transition-all duration-300;
}


.hero-content-shadow {
  box-shadow: -2.5em 3.125em 5.25em rgba(0,0,0,0.1);
}

.expand-icon {
  width: 0.9em;
  height: 0.9em;
  position: relative;
  float: right;
  margin-left: 0.9375em;
  z-index: 2;
}

.expand-icon:after,
.expand-icon:before {
  content: "";
  display: block;
  width: 100%;
  height: 0.125em;
  background: #5a90f1;
  border-radius: 0.375em;
  position: absolute;
  transition: transform 0.3s ease-in-out;
}

.expand-icon:before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.expand-icon:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

/* When expanded, rotate to minus */
.accordion-header.active .expand-icon:before {
  transform: translate(-50%, -50%) rotate(90deg);
}

.accordion-header.active .expand-icon:after {
  transform: translate(-50%, -50%) rotate(180deg);
}

/* Smooth Accordion Opening */
.accordion-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}
